*{
    font-family: 'Arial', sans-serif; /* Fallback font family */
    font-family: 'Caveat', cursive; /* Custom font */
}

@media screen and (max-width: 767px) {
    .font-bold.text-6xl {
      text-align: center;
    }
  }

  .text-2xl {
    font-size: 1.5rem; /* Adjust the font size as needed */
  }

  td {
    border-width: 2px;
    padding-right: 2.5rem;
  }

